extends layout

block content
  div.dashboard
    div.recent-orders
      h2 Recent Orders

      table(style="border:1")
        thead
          tr
            th Order ID
            th Date
            th Name
            th Price
        tbody 
          tr 
            td #123
            td 12-03-2025
            td Product1 
            td 100
          tr 
            td #234
            td 12-04-2025
            td Product2 
            td 200
          tr 
            td #345
            td 12-05-2025
            td Product3 
            td 300
          tr 
            td #456
            td 12-06-2025
            td Product4 
            td 400
          tr 
            td #123
            td 12-07-2025
            td Product5 
            td 500

        